*{
	margin: 0px;
	padding: 0px;
}

body {
	
	/*background-image: url(../img/b.jpg);*/
	background-repeat: no-repeat;
	background-size: 100% 720px;
}
.container {
	width: 500px;
	height: 420px;
	text-align: center;
	background-color: rgba(10, 7, 4, 0.7);
	border-radius: 4px;
	margin: 0 auto;
	margin-top: 150px;
}

.container img {
	width: 120px;
	height: 120px;
	margin-top: -60px;
	margin-bottom: 30px;
}

input[type="email"],input[type="password"],input[type="text"],input[type="number"],select{
	height: 45px;
	width: 300px;
	font-size: 18px;
	border: none;
	margin-bottom: 20px;
	background-color: #fff;
	border-radius: 4px;
	padding-left: 40px;
}

.form-input::before {
	content: "\f007";
	position: absolute;
	font-family: "FontAwesome";
	padding-left: 5px;
    padding-top: 7px;
	font-size: 35px;
}
.form-input:last-child::before {
	content: "\f023";
}
.btn-success {
	padding: 15px 25px;
	cursor: pointer;
	color: #fff;
	border-radius: 5px;
	border: none;
	background-color: #155456;
	margin-bottom: 20px;
}

a{
	margin-top: 20px;
	font-weight: 300;
	color: #fff;
	font-size: 20px;
}
